.title {
    text-align: center;
    color: #1b2d48;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px 0 30px;
}
.title h2 {
    font-size: 28px;
    color: #1b2d48;
    margin-top: 5px;
    text-transform: none;
    font-weight: 500;
}